@layer utilities {
  .bg-gradient-text {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    background-size: 200% auto;
  }

  .bg-300\% {
    background-size: 300% 100%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}
